@import '~include-media/dist/include-media';

.viewer-template {
    position: relative;

    header {
        color:white;
        font-weight:600;
        align-items: center;
        font-size: calc(10px + 2vh);
        width:100%;
        padding-top:7vh;
        margin:auto;
        text-align: center;

        @include media("<tablet") {
            font-size: 1.25rem;
            }
        }
        
    .viewer-wrapper {
        position:relative;
        width:100%;
        height:calc(100vh - 15rem);
    }
    
    .nasa-info {
        position: absolute;
        right:1rem;
        top:1rem;
        font-size:2rem;
        cursor: pointer;
    }

        
}